.box {
  border: 1px solid white;
  padding: 2rem;
  width: fit-content;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .ideas {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  /* .box {
    width: 30%;
  } */
}

.box:hover {
  transform: scale(1.01);
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.66, 1.77);
}

.ideaTitle {
  padding: 0;
  margin: 0;
}
