.aboutContainer {
  /* padding: 2rem; */
  /* padding-bottom: 7rem; */

  line-height: 1.7;
  padding: 2rem;
}

@media screen and (min-width: 700px) {
  .aboutContainer {
    margin-left: 5rem;
  }
}
