@media screen and (min-width: 700px) {
  .createRoomContainer {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .createRoomContainer {
    width: 30%;
  }
}

.brandCreateRoom {
  padding: 3rem 0;
}

.brandCreateRoom {
  text-align: center;
}
.error {
  font-size: 2rem;
  text-align: center;
  margin: 6px 0;
  color: tomato;
}
