.createRoom {
  /* padding: 3rem 0; */
  padding-bottom: 5rem;
  overflow: auto;
  height: 100%;

  /* width: 330px; */
  /* margin: auto; */
}

.brandCreateRoom {
  /* //  transform: rotate(2deg); */
  text-align: center;
  font-size: 3.5rem;
}
.error {
  font-size: 12px;
  text-align: center;
  margin: 6px 0;
}
