.roomContainer {
  /* background-color: red; */
  padding: 2rem;
  padding-bottom: 5rem;
  width: 100vw;
}

.buttonCreateRoom {
  margin-top: 3rem;
}

.spacing {
  margin: 2rem 0;
}
.error {
  font-size: 12px;
  text-align: center;
  margin: 6px 0;
}
