:root {
  --active-color: #fefffe;
  --dark-bg: #14162b;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #020024, #406f79);
  background: linear-gradient(to right, #020024, #406f79);
  color: var(--active-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 3px;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #020024, #406f79);
  border-radius: 10px;
}

/* for tablet */
@media screen and (min-width: 700px) {
  body {
    font-size: 1.5rem;
  }
}
/* for desktop */
@media screen and (min-width: 1000px) {
  body {
    font-size: 1rem;
  }
}
