:root {
  --active-color: #fefffe;
  --dark-bg: #14162b;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #355c7d;
  background: -webkit-linear-gradient(to right, #020024, #406f79);
  background: linear-gradient(to right, #020024, #406f79);
  color: var(--active-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}
