.button {
  margin-top: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}

.headings {
  /* width: 70%; */
  text-align: center;
  /* width: 100%; */
  font-size: 2.5rem;
}

@media screen and (min-width: 700px) {
}
