.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;

  overflow: auto;
  text-align: center;
  /* margin: 0 2rem; */
  padding: 5rem;
}
.button {
  width: fit-content;
  margin-top: 20px;
}

.headings {
  /* width: 70%; */
  text-align: center;
  /* width: 100%; */
  font-size: 2.5rem;
}
