.willingToConnect {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* margin-top: 10rem; */
  align-items: center;
  height: 100%;
  width: fit-content;
  overflow: auto;
  text-align: center;
}

.spacing > * {
  margin-top: 10px;
}
.error {
  font-size: 12px;
  text-align: center;
  margin: 6px 0;
}
