.headingTunisia {
  /* padding: 2rem 0; */
  text-align: center;
}
/* 
@media screen and (min-width: 700px) {
  .tunisiaNow {
    margin-left: 5rem;
    background-color: red;
    text-align: left;
  }
} */
